body {
  margin: 0;
  overflow-x: hidden;
}
.hero-wrapper {
  position: relative;
}

.hero-wrapper::before,
.hero-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
}
/* Grayscale image layer */
.hero-wrapper::before {
  height: 90%;
  background: url("./assets/images/banner.png") center/cover no-repeat;
  filter: grayscale(100%);
}

/* Navy gradient overlay */
.hero-wrapper::after {
  background: radial-gradient(
    100% 85.9% at 50% -8%,
    rgba(104, 120, 150, 0) 0%,
    #071629 100%
  );
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  margin-inline: auto;
  padding-block: 20px 0px;
}
.header-links {
  width: 220px;
  display: flex;
  gap: 2.3vw;
}
.header-links a {
  text-decoration: none;
  color: #fff;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  transition: background 0.2s;
}
.header-links a:hover {
  color: #c271ff;
}
.intro {
  width: 900px;
  margin-inline: auto;
  text-align: center;
  margin-block: 220px;
}
.intro-title h1 {
  color: #fff;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 115px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 700;
  margin-block: 0 15px;
}
.three-words {
  color: #fff;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  word-spacing: 1.5rem;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 15px;
}
.register-btn {
  width: 162px;
  height: 44px;
  border-radius: 22px;
  background: #c271ff;
  border: none;
  color: #fff;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.2s;
}
.register-btn:hover {
  background: #a048cc;
}
.main-block {
  width: 1009px;
  max-width: 95vw;
  margin-inline: auto;
  padding-bottom: 40px;
}
.headline {
  text-align: center;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin-bottom: 40px;
}
.headline strong {
  color: #c271ff;
}
.headline span {
  color: #ffffff;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 120px;
}
.card-container .card {
  width: 150px;
  text-align: center;
  margin-bottom: 20px;
  /* background: transparent; */
}
.card-container .card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  margin: 0 auto 10px auto;
  /* border: 4px solid #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10); */
}
.card .name {
  color: white;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0;
  margin-bottom: 5px;
}
.card .subtitle {
  color: #fff;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}
/* ---------------------quote section--------------------------  */
.quote-section {
  background: #c271ff;
  width: 100%;
  height: 390px;
  display: flex;
  align-items: center;
}
.quote-section .container {
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  gap: 60px;
}
.quote-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
.quote-section .quote {
  height: 150px;
  color: #fff;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 100%;
}
.quote-section .quote .name {
  font-weight: 700;
  margin-block: 35px 10px;
}

/* tutorial section */
.tutorial-section {
  width: 1200px;
  height: 450px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-cards {
  display: flex;
  gap: 61px;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
}
.video-cards .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.video-cards .title h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
}
.video-cards .text {
  opacity: 0.5;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
}
.video-cards .user {
  display: flex;
  gap: 10px;
  align-items: center;
}
.video-cards .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.video-cards .user .name {
  color: #c271ff;
  font-weight: bold;
}
.video-cards .user-rating {
  display: flex;
}
.video-cards .rating-star {
  width: 10%;
  font-size: 20px;
  color: #c271ff;
}
.video-cards .gray {
  color: gray;
  opacity: 0.5;
}
.video-cards .duration {
  color: #c271ff;
  font-size: 14px;
  margin-left: 40px;
}

/* membership section  */
.membership-section {
  background-color: #071629;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership-section .headline {
  margin-top: 70px;
}
.membership-section .container {
  width: 1075px;
  display: flex;
  margin-bottom: 85px;
}
.membership-section .container .membership-plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
  color: #fff;
}
.membership-section .container .membership-plans .title {
  font-size: 18px;
  font-weight: 600;
}
.membership-section .container .membership-plans .text {
  text-align: center;
}

/* F.A.Q section  */
.faq-section {
  width: 920px;
  height: 710px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", "Segoe UI", Arial, Helvetica, sans-serif;
}
.faq-section .main-title {
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
}
.faq-section .questions-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 220px;
  row-gap: 100px;
}
.faq-section .questions-container .question {
  width: 350px;
}
.faq-section .questions-container .question .title {
  font-size: 16px;
  font-weight: 700;
  margin-block: 30px;
}
.faq-section .questions-container .question .text {
  opacity: 0.4;
  font-size: 14px;
}
/* footer style  */
.footer_section {
  background-color: #071629;
  width: 100%;
  height: 30vh;
}
.footer_section .logo {
  margin-top: 60px;
  left: 160px;
  position: absolute;
}

.social_icons {
  width: auto;
  height: 33px;
  position: absolute;
  right: 200px;
  margin-top: 60px;
}
.social_icons {
  display: flex;
  gap: 10px;
}
.social_icons img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
#facebook {
  margin-top: 1px;
  width: 28px;
  height: 28px;
}
.copy_right {
  color: #fff;
  opacity: 0.5;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 12px;
  font-family: serif;
  position: absolute;
  margin-top: 150px;
  left: 630px;
}
